<template>
  <div>
    <form
      class="text-center mx-auto d-flex justify-center mb-4 mt-6 align-center"
    >
      <component
        :is="active ? 'input' : 'div'"
        class="text-center"
        :class="active ? 'page-title-input' : 'page-title'"
        @click="toggleInput"
        v-model="editedPage"
        :value="editedPage"
        @input="inputChanged"
        @change="editedPage = $event.target.value"
      >
        {{ pageNum }}. {{ pageTitle }}
      </component>
      <button v-if="active" @click="editPage()" class="page-title-edit-btn">
        <v-icon>mdi-thumb-up</v-icon>
      </button>
      <v-icon class="page-delete-btn" size="20" @click="removePage()"
        >mdi-delete</v-icon
      >
    </form>
    <div class="d-flex">
      <div class="d-flex justify-center w-100 mb-3 card-wrapper mx-auto">
        <card
          class="h-100"
          :card="cards.left"
          :isCompleted="checkCompleted(cards.left)"
          :class="cards.left.class"
          @remove="remove"
        >
        </card>
        <card
          class="h-100"
          :card="cards.right"
          :isCompleted="checkCompleted(cards.right)"
          @add="addItem"
          @complete="markCompleted"
          @edit="edit"
          :class="cards.right.class"
          :complLim="complLim"
          :notComplLim="notComplLim"
        >
        </card>
        <card
          class="h-100"
          :card="cards.animation"
          :isCompleted="checkCompleted(cards.animation)"
          :class="cards.animation.class"
          :complLim="complLim"
          :notComplLim="notComplLim"
        >
        </card>
      </div>
      <pagination
        style="z-index: 0"
        :lastPage="lastPage"
        :page="Number(route.params.id)"
      >
        <v-icon v-if="lastPage === pageNum" @click="addPage()">mdi-plus</v-icon>
      </pagination>
    </div>
  </div>
</template>
<script setup>
import axios from "axios";
import _ from "lodash";
import card from "../components/card.vue";
import pagination from "../components/pagination.vue";
import sound from "@/assets/sound/page-flip.mp3";
const route = useRoute();

const pageTitle = ref([]);
const pageNum = ref([]);
const completed = ref([]);
const notCompleted = ref([]);
const nextPageCompleted = ref([]);
const nextPageNotCompleted = ref([]);
const prevPageCompleted = ref([]);
const prevPageNotCompleted = ref([]);
const lastPage = ref();
const complLim = ref();
const notComplLim = ref();

const active = ref(false);
const changed = ref(false);
function toggleInput() {
  active.value = true;
}
function inputChanged() {
  changed.value = true;
}
const editedPage = computed({
  get() {
    return pageTitle.value;
  },
  set(val) {
    pageTitle.value = val;
  },
});

async function getTodos() {
  const res = await axios.get(`/api/pages/${route.params.id}/todos`);
  pageTitle.value = res.data.title;
  pageNum.value = res.data.page;
  lastPage.value = res.data.last_page;
  completed.value = res.data.completed;
  notCompleted.value = res.data.not_completed;
  nextPageCompleted.value = res.data?.next_page_completed;
  nextPageNotCompleted.value = res.data?.next_page_not_completed;
  prevPageCompleted.value = res.data?.prev_page_completed;
  prevPageNotCompleted.value = res?.data.prev_page_not_completed;
  complLim.value = res.data.completed.length < 18;
  notComplLim.value = res.data.not_completed.length < 18;
}
async function addItem(toDoText) {
  const res = await axios.post(`/api/pages/${route.params.id}/todos/add`, {
    data: {
      title: `${toDoText}`,
    },
  });
}
async function markCompleted(id) {
  const res = await axios.patch(`/api/todos/complete/${id}`);
  getTodos();
}
async function remove(id) {
  const res = await axios.delete(`/api/todos/delete/${id}`);
  getTodos();
}
async function edit(title, id) {
  const res = await axios.patch(`/api/todos/edit/${id}`, {
    title: `${title}`,
  });
  getTodos();
}
function checkCompleted(card) {
  if (
    card.content == completed.value ||
    card.content == prevPageCompleted.value ||
    card.content == nextPageCompleted.value
  ) {
    return true;
  } else {
    return false;
  }
}
async function addPage() {
  const res = await axios.post(`/api/pages/add`);
  await navigateTo(`/pages/${Number(route.params.id) + 1}/todos`);
}
async function editPage() {
  if (changed.value === true) {
    const res = await axios.patch(
      `/api/pages/edit/${Number(route.params.id)}`,
      {
        title: editedPage.value,
      }
    );
  }

  active.value = false;
  console.log(editedPage.value);
}
async function removePage() {
  navigateTo(`/pages/${Number(route.params.id) - 1}/todos`);
  setTimeout(function () {
    const res = axios.delete(
      `/api/pages/delete/${Number(route.params.id) + 1}`
    );
    reloadNuxtApp();
  }, 800);
}
const cards = reactive({
  left: {
    show: true,
    content: completed,
    title: "Сделано",
    class: "left-card",
  },
  right: {
    show: true,
    content: notCompleted,
    title: "Сделать",
    class: "right-card",
  },
  animation: {
    show: false,
    content: {},
    title: "",
    class: "",
  },
});
watch(
  () => Number(route.params.id),
  (newPage, oldPage) => {
    if (newPage < oldPage) {
      turnedPrev();
    }
    if (newPage > oldPage) {
      turnedNext();
    }
  }
);
async function turnedNext() {
  const mySound = new Audio(sound);
  await mySound.play();
  // первая часть переворота
  await getTodos();
  cards.left.class = "connector-anim-next-1";
  cards.left.content = prevPageCompleted;
  cards.animation.content = prevPageNotCompleted;
  cards.animation.show = true;
  cards.animation.title = "Сделать";
  cards.animation.class = "next-anim-1";

  // вторая часть переворота
  setTimeout(function () {
    cards.left.class = "connector-anim-next-2";
    cards.animation.content = completed;
    cards.animation.class = "next-anim-2";
    cards.animation.title = "Сделано";
  }, 400);

  setTimeout(function () {
    cards.left.class = "left-card";
    cards.animation = { show: false };
    cards.left.content = completed;
  }, 800);
};
async function turnedPrev() {
  const mySound = new Audio(sound);
  await mySound.play();
  // первая часть переворота
  await getTodos();
  cards.left.class = "connector-anim-prev-1";
  cards.right.content = nextPageNotCompleted;
  cards.animation.content = nextPageCompleted;
  cards.animation.show = true;
  cards.animation.title = "Сделано";
  cards.animation.class = "prev-anim-1";

  // вторая часть переворота
  setTimeout(function () {
    cards.left.class = "connector-anim-prev-2";
    cards.animation.content = notCompleted;
    cards.animation.class = "prev-anim-2";
    cards.animation.title = "Сделать";
  }, 400);

  setTimeout(function () {
    cards.left.class = "left-card";
    cards.animation = { show: false };
    cards.right.content = notCompleted;
  }, 800);
}
onMounted(() => {
  getTodos();
});
</script>
