<template>
  <div>
    <div
      v-if="cardData?.show"
      class="position-relative mx-2 overflow-visible h-100 card"
    >
      <div class="position-absolute background w-100 h-100"></div>
      <div class="d-flex justify-center align-center title">
        <div class="text-decoration-underline">{{ cardData?.title }}</div>
      </div>
      <div class="d-flex">
        <div class="content">
          <div class="justify-space-between todos-container">
            <div class="todo-id-list">
              <div v-for="(todo, index) in cardData?.content" class="todo-id">
                {{ index + 1 }}
              </div>
            </div>
            <div class="todo-title-list">
              <form v-if="!completedCard && notComplLim" class="todo-add-form">
                <input v-model="toDo" class="todo-input" />
                <button
                  @click="addItem()"
                  class="todo-add-btn"
                  :disabled="toDo ? false : true"
                  :class="toDo ? '' : 'text-disabled'"
                >
                  <v-icon>mdi-plus</v-icon>
                </button>
              </form>
              <div
                v-for="(todo, index) in cardData?.content"
                class="todo-title"
                :class="completedCard ? 'text-decoration-line-through' : ''"
                :key="index"
              >
                <div v-if="completedCard">
                  {{ todo.title }}
                </div>
                <form v-else>
                  <component
                    :is="active[index] ? 'input' : 'div'"
                    :class="{ 'todo-input': active[index] }"
                    @click="() => toggleInput(index)"
                    :key="index"
                    v-model="editedTodo[index].title"
                    :value="editedTodo[index].title"
                    @input="inputChanged(index)"
                    @change="editedTodo[index].title = $event.target.value"
                  >
                    {{ todo.title }}
                  </component>
                  <button
                    v-if="!completedCard"
                    @click="edit(todo.id, index)"
                    class="todo-edit-btn"
                    :disabled="changed[index] ? false : true"
                    :class="{ 'text-disabled': !changed[index] }"
                  >
                    <v-icon>mdi-thumb-up</v-icon>
                  </button>
                </form>
              </div>
            </div>
            <div v-if="!completedCard && complLim" class="check-list">
              <div
                v-for="todo in cardData?.content"
                class="check"
                :key="todo.id"
              >
                <v-icon @click="markCompleted(todo.id)">mdi-check</v-icon>
              </div>
            </div>
            <div v-if="completedCard" class="check-list">
              <div
                v-for="todo in cardData?.content"
                class="check"
                :key="todo.id"
              >
                <v-icon @click="remove(todo.id)">mdi-delete</v-icon>
              </div>
            </div>
          </div>
          <div
            v-if="cardData?.content.length === 0"
            class="font-family todos-container py-4"
          >
            <img
              width="300"
              src="../assets/images/pic.png"
              alt="."
              class="pl-8"
            />
          </div>
        </div>
        <div class="holes-container">
          <div v-for="n in 11" class="hole">
            <div class="connector"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
const toDo = ref();
const emit = defineEmits(["add", "complete", "remove", "edit"]);
const active = reactive({});
const changed = reactive({});
const toggleInput = (index) => {
  active[index] = true;
};
const inputChanged = (index) => {
  changed[index] = true;
};
const editedTodo = computed(() => {
  return cardData.value.content;
});
const newTitle = ref();
function addItem() {
  const toDoText = toDo.value;
  emit("add", toDoText);
}
function markCompleted(id) {
  emit("complete", id);
}
function remove(id) {
  emit("remove", id);
}
function edit(id, index) {
  newTitle.value = editedTodo.value[index].title;
  emit("edit", newTitle.value, id);
  active = false;
  // console.log(newTitle.value, id)
}
const props = defineProps({
  card: Object,
  modelValue: String,
  isCompleted: Boolean,
  complLim: Boolean,
  notComplLim: Boolean,
});
const cardData = computed({
  get: () => props.card,
  set: () => {},
});
const completedCard = computed(() => {
  return props.isCompleted;
});
const complLim = computed(() => {
  return props.complLim;
});
const notComplLim = computed(() => {
  return props.notComplLim;
});
onMounted(() => {});
</script>
