<template>
  <div
    class="align-self-center px-6 position-absolute d-flex w-100"
    :class="prevIs ? 'justify-space-between' : 'justify-end'"
  >
    <nuxt-link v-if="prevIs" :to="`/pages/${page - 1}/todos`">
      <v-icon>mdi-arrow-u-right-top </v-icon>
    </nuxt-link>
    <nuxt-link v-if="nextIs" :to="`/pages/${page + 1}/todos`">
      <v-icon>mdi-arrow-u-left-top </v-icon>
    </nuxt-link>
    <slot></slot>
  </div>
</template>
<script setup>
import _ from "lodash";

const props = defineProps({
  lastPage: Number,
  page: Number,
});
const totPages = computed(() => {
  return props.lastPage;
});
const page = computed(() => {
  return props.page;
});
const nextIs = computed(() => {
  return page.value < totPages.value;
});

const prevIs = computed(() => {
  return page.value > 1;
});
onMounted(() => {});
</script>
